.signature-container {
    text-align: center;
    margin: 10% auto;
  }
  
  .signature-button {
    background-color: white;
    padding: 1% 2%;
  }
  
  .signature-button-inverse {
    background-color: black;
    padding: 1% 2%;
    color: white;
  }