$main-color: #ffb300;
$background-color: #f1f1f1;
$footer-color: #143c5c;
$header-footer: #000000;
$code-background: #000000;
$code-text-color: #ffffff;





$text-color-main: #fafafa;
$secondary-color: #9c3444;
$terciary-color: #143c5c;
$text-color:black;
$extra-color:#ffd25f;
$footer-sides-color: #f1f1f1;
$checkbox-container-title:#f1f1f138;