.container {
  background-color: black;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}

.title-container {
  color: #ffb900;
  width: 33%;
}

.navigation-container {
  display: flex;
  justify-content: center;
  color: white;
  width: 33%;
  align-items: center;
}

.navigation-container a {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.login {
  display: flex;
  width: 33%;
  justify-content: center;
  align-items: center;
}

.login a {
  padding-left: 10%;
}

.footerContainer {
  height: 200px;
  background-color: black;
  color: white;
}
.footerContainer .footerListContainer {
  width: 20%;
  display: flex;
}

.buttonWelcome {
  background-color: inherit;
  padding: 10px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.visualContainer {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 100%;
  background-size: cover;
  border: 2px solid black;
}

.visualContainer .textContainer {
  margin-left: auto;
  margin-right: auto;
  padding: 20%;
  text-align: center;
  width: 45%;
}

.visualContainer .textContainer h1 {
  color: #ffb900;
  font-weight: 700;
  line-height: 1.2;
  font-size: 5rem;
  margin: 0;
}

.visualContainer .textContainer h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.5rem;
  margin: 0;
}

.visualContainer .textContainer .downTextContainer {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}

.signature-container {
  text-align: center;
  margin: 10% auto;
}

.signature-button {
  background-color: white;
  padding: 1% 2%;
}

.signature-button-inverse {
  background-color: black;
  padding: 1% 2%;
  color: white;
}

.product-container {
  width: 80%;
  margin: 10% auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-card {
  width: 30%;
  margin: 1.5%;
}

.card-image {
  height: 80%;
  width: 100%;
}

.card-image img {
  height: 100%;
  width: 100%;
}

.shirt-labels P:first-child {
  font-weight: bold;
  font-size: 22px;
}

.detail-container {
  width: 80%;
  margin: 5% auto;
  display: flex;
  flex-direction: row;
  height: -moz-fit-content;
  height: fit-content;
}

.details {
  width: 100%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.details h1 {
  margin-top: 0;
}

.size-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 5%;
}

.size-buttons button {
  border: 1px solid black;
  width: 14%;
  padding: 1% 2%;
  margin: auto 1%;
  background-color: inherit;
  cursor: pointer;
}

.size-buttons button:hover {
  color: white;
  background-color: black;
}

.size-buttons button:first-child {
  margin-left: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}

.carousel-image-container {
  width: 20%;
}

.color-block {
  width: 100px;
  height: 100px;
  background-color: black;
}

.qty-button {
  margin-top: 2%;
  border: 1px solid black;
  width: 30%;
  display: flex;
  height: 5%;
}

.qty-button button {
  border: none;
  width: 33%;
  background-color: inherit;
  cursor: pointer;
}

.qty-button button:last-child:hover {
  color: white;
  background-color: black;
}

.qty-button button:first-child:hover {
  color: white;
  background-color: black;
}

.add-cart {
  margin-top: 2%;
  display: flex;
  width: 70%;
  height: 5%;
}

.add-cart button {
  border: 1px solid black;
  width: 100%;
  background-color: inherit;
  cursor: pointer;
}

.add-cart button:hover {
  color: white;
  background-color: black;
}

.table-container {
  margin-top: 2%;
  border: 1px solid black;
  width: 50%;
}

.table-container table {
  width: 100%;
}

.table-container thead {
  background-color: lightgray;
}

.table-container thead tr th {
  border: 1px solid lightgray;
  width: 50%;
  background-color: lightgray;
}

.table-container td {
  text-align: center;
}/*# sourceMappingURL=style.css.map */